[submodule "third_party/patina-paging"]
	path = third_party/patina-paging
	url = https://github.com/OpenDevicePartnership/patina-paging
[submodule "third_party/patina"]
	path = third_party/patina
	url = https://github.com/OpenDevicePartnership/patina
